'.source.beancount':
	'Balance':
		'prefix': 'balance'
		'body': '${1:${CURRENT_YEAR}}-${2:${CURRENT_MONTH}}-${3:${CURRENT_DATE}} balance ${4:Account:One}  ${5:0.00} ${6:CUR}'

	'Event':
		'prefix': 'event'
		'body': '${1:${CURRENT_YEAR}}-${2:${CURRENT_MONTH}}-${3:${CURRENT_DATE}} event "${4:Type}" "${5:Description}"'

	'Note':
		'prefix': 'note'
		'body': '${1:${CURRENT_YEAR}}-${2:${CURRENT_MONTH}}-${3:${CURRENT_DATE}} note ${4:Account:One} "${5:Note}"'

	'Transaction':
		'prefix': 'transaction'
		'body': """
			${1:${CURRENT_YEAR}}-${2:${CURRENT_MONTH}}-${3:${CURRENT_DATE}} ${4:*} "${5:Payee}" "${6:Description}"
				${7:Account:One}   ${8:0.00} ${9:CUR}
				${10:Account:Two}  ${11:-0.00} ${12:CUR}
		"""

	'Open':
		'prefix': 'open'
		'body': '${1:${CURRENT_YEAR}}-${2:${CURRENT_MONTH}}-${3:${CURRENT_DATE}} open ${4:Account:One} ${5:CUR}'
